:root {
    --gradient-light: #f0cc62;
    --gradient-dark:  #f7825e;
    --text-dark:      #212121;
    --text-light:     #FFFFFF;
    --anim-duration:  4s;
    --scale-hover:    1.05;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    min-height: 100vh;
    max-height: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #172c3c;
}

header{
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 20%;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header .container-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: space-around;
}

header .container-menu .conteudo-menu{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}

header .container-menu .conteudo-menu .item-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

header .container-menu .conteudo-menu .item-menu a{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #f7825e;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main .container-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: center;
    min-width: 1024px;
    max-width: 1400px;
    width: 100%;
}


main .container-principal .container-apresentacao{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 60vh;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
}


main .container-principal .container-apresentacao .container-slogan{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    overflow-x: hidden;
}

main .container-principal .container-apresentacao .container-slogan .txt-slogan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
}

main .container-principal .container-apresentacao .container-slogan .txt-2-slogan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
}

main .container-principal .container-apresentacao .btn-cta-home{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    height: 15%;
    padding: 5;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    /*background-color: #f7825e;*/
    background-size: 200% 200%;
    background-image: linear-gradient(
            45deg, var(--gradient-light), var(--gradient-dark)
    );
    background-position: 50% 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
}

main .container-principal .container-apresentacao .btn-cta-home:hover,
main .container-principal .container-apresentacao .btn-cta-home:active{
    background-size: 200% 200%;
    animation:  bgShift var(--anim-duration) ease infinite,
                textShift var(--anim-duration) ease infinite;
    font-weight: 700;
}

main .container-principal .container-servicos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 80vh;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

main .container-principal .container-servicos .container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 60vh;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

main .container-principal .container-servicos .container-cards .card-servico{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30%;
    height: 70vh;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px 5px #000;
}

main .container-principal .container-servicos .container-cards .card-servico:hover{
    background-size: 200% 200%;
    animation:  bgShift var(--anim-duration) ease infinite,
                textShift var(--anim-duration) ease infinite;   
    box-shadow: 0 10px 10px 5px #fff;
}

main .container-principal .container-servicos .container-cards .card-servico 
.icone-servico{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 20px;
    object-position: center;
    object-fit: contain;
}

main .container-principal .container-servicos .container-cards .card-servico 
.titulo-servico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
}

main .container-principal .container-servicos .container-cards .card-servico 
.resumo-desc-servico{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

main .container-principal .container-sobre{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 20vh;
    align-items: center;
    justify-content: space-around;
}

main .container-principal .container-sobre .titulo-sobre, main .container-principal 
.container-sobre .subtitulos-sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

main .container-principal .container-sobre .titulo-sobre{
    font-size: 1.8em;
    font-weight: 700;
}

main .container-principal .container-sobre .subtitulos-sobre .subtitulo-sobre{
    font-size: 1.4em;
    font-weight: 400;
}

main .container-principal .container-banner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ffffff;
}

main .container-principal .container-banner .banner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    object-position: center center;
    object-fit: cover;
}

main .container-principal .container-contato{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

main .container-principal .container-contato div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #ffffff;
}

main .container-principal .container-contato div .container-titulo-contato 
.titulo-contato, main .container-principal .container-contato div 
.container-titulo-contato{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    align-items: center;
    justify-content: center;
}

main .container-principal .container-contato div .container-titulo-contato 
.titulo-contato, main .container-principal .container-contato div 
.container-titulo-contato .subtitulo-contato{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .container-principal .container-contato div .container-titulo-contato 
.titulo-contato{
    font-size: 1.4em;
    font-weight: 700;
}

main .container-principal .container-contato div .container-titulo-contato 
.subtitulo-contato{
    font-size: 1.2em;
    font-weight: 400;
}

main .container-principal .container-contato div form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
    height: 100%;
    padding: 2%;
    align-items: center;
    justify-content: space-around;
}

main .container-principal .container-contato div form input,
main .container-principal .container-contato div form textarea{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 2%;
    padding-left: 2%;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
}

main .container-principal .container-contato div form button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 40%;
    min-height: 10vh;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-radius: 25px;
    /*background-color: #f7825e;*/
    background-size: 200% 200%;
    background-image: linear-gradient(
            45deg, var(--gradient-light), var(--gradient-dark)
    );
    background-position: 50% 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: font-weight 0.2s ease-in-out;
}

main .container-principal .container-contato div form button:hover,
main .container-principal .container-contato div form button:active{
    background-size: 200% 200%;
    animation:  bgShift var(--anim-duration) ease infinite,
                textShift var(--anim-duration) ease infinite;
    font-weight: 700;
}

@keyframes bgShift {
    0%, 100% {
        background-image: linear-gradient(
            45deg, var(--gradient-light), var(--gradient-dark)
        );
        background-position: 0% 0%;
    }
    50% {
        background-image: linear-gradient(
            45deg, var(--gradient-dark), var(--gradient-light)
        );
        background-position: 100% 100%;
    }
}

@keyframes textShift {
    0%, 100% { color: var(--text-dark); transform: scale(1); }
    50% { color: var(--text-light); transform: scale(1.2); }
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 20%;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

footer .txt-rodape{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
    color: #ffffff;
}


/* Mobile */

@media (max-width: 600px) {

    @keyframes textShift {
        0%, 100% { color: var(--text-dark); transform: scale(1); }
        50% { color: var(--text-light); transform: scale(1.1); }
    }
    main .container-principal{
        min-width: 0px;
        max-width: 600px;
        padding: 2%;
    }

    main .container-principal .container-apresentacao{
        min-height: 70vh;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 5%;
    }

    main .container-principal .container-apresentacao .container-slogan{
        width: 100%;
        min-height: 60%;
        justify-content: flex-start;
        gap: 10%;
    }

    main .container-principal .container-apresentacao .container-slogan .txt-slogan{
        width: 100%;
        font-size: 2.0em;
        font-weight: 500;
    }

    main .container-principal .container-apresentacao .container-slogan .txt-2-slogan{
        width: 100%;
        margin-top: 0;
        font-size: 1.4em;
        font-weight: 400;
    }

    main .container-principal .container-apresentacao .btn-cta-home{
        width: 80%;
        max-height: 25%;
        margin-top: 0;
        padding: 2%;
        font-size: 1.4em;
    }
    
    main .container-principal .container-servicos{
        flex-direction: row;
        min-height: 100vh;
        justify-content: space-around;
    }

    main .container-principal .container-servicos .container-cards{
        flex-direction: column;
        padding: 0;
    }

    main .container-principal .container-servicos .container-cards .card-servico{
        min-width: 90%;
        height: 60vh;
        padding: 2%;
        margin-bottom: 5%;
    }
    
    main .container-principal .container-servicos .container-cards .card-servico:last-child{
        margin-bottom: 0;
    }

    main .container-principal .container-servicos .container-cards .card-servico 
    .resumo-desc-servico{
        padding: 2%;
        width: 100%;
        height: 30%;
        font-size: 1.4em;
    }

    main .container-principal .container-sobre .titulo-sobre, main .container-principal 
    .container-sobre .subtitulos-sobre{
        width: 100%;
    }

    main .container-principal .container-sobre .subtitulos-sobre{
        flex-direction: column;
        gap: 1%;
    }

    main .container-principal .container-sobre .titulo-sobre{
        font-size: 1.8em;
        font-weight: 700;
    }

    main .container-principal .container-sobre .subtitulos-sobre .subtitulo-sobre{
        font-size: 1.4em;
        font-weight: 400;
    }

    main .container-principal .container-banner{
        height: 40vh;
        width: 100%;
        padding: 0;
    }

    main .container-principal .container-banner .banner{
        height: 29vh;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        object-position: 60% 55%;
    } 

    main .container-principal .container-contato div{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    main .container-principal .container-contato div .container-titulo-contato{
        flex-direction: column;
        width: 100%;
        height: 20vh;
    }

    main .container-principal .container-contato div .titulo-contato{
        font-size: 1.8em;
        font-weight: 700;
    }

    main .container-principal .container-contato div .subtitulo-contato{
        font-size: 1.4em;
        font-weight: 700;
    }

    main .container-principal .container-contato div form{
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }

    main .container-principal .container-contato div form input,
    main .container-principal .container-contato div form textarea{
        padding-left: 3%;
    }

    main .container-principal .container-contato div form button{
        width: 50%;
        min-height: 10vh;
        border-radius: 25px;
        font-size: 1.6em;
        font-weight: 600;
    }

    footer{
        min-height: 15vh;
    }

    footer .txt-rodape{
        font-size: 1.2em;
    }

}


@media (max-width: 1024px) and (min-width: 601px) {

    main .container-principal{
        gap: 0;
        min-width: 601px;
        max-width: 1024px;
    }

    main .container-principal .container-apresentacao{
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
    }

    main .container-principal .container-apresentacao .container-slogan{
        min-height: 50%;
        justify-content: flex-start;
        gap: 10%;
        width: 90%;
    }

    main .container-principal .container-apresentacao .container-slogan .txt-slogan{
        width: 100%;
        font-size: 4em;
        font-weight: 700;
    }

    main .container-principal .container-apresentacao .container-slogan .txt-2-slogan{
        width: 100%;
        margin-top: 0;
        font-size: 2em;
        font-weight: 400;
    }

    main .container-principal .container-apresentacao .btn-cta-home{
        width: 60%;
        max-height: 20%;
        margin-top: 0;
        padding: 3%;
        font-size: 2em;
        font-weight: 600;
    }
    
    main .container-principal .container-servicos{
        flex-direction: row;
        min-height: 100vh;
        justify-content: space-around;
    }

    main .container-principal .container-servicos .container-cards{
        flex-direction: column;
        padding: 0;
    }

    main .container-principal .container-servicos .container-cards .card-servico{
        min-width: 90%;
        height: 90vh;
        padding: 2%;
        margin-bottom: 5%;
    }
    
    main .container-principal .container-servicos .container-cards .card-servico:last-child{
        margin-bottom: 0;
    }

    main .container-principal .container-servicos .container-cards .card-servico 
    .titulo-servico{
        font-size: 2em;
        font-weight: 700;
    }

    main .container-principal .container-servicos .container-cards .card-servico 
    .resumo-desc-servico{
        padding: 2%;
        width: 100%;
        height: 30%;
        font-size: 1.8em;
    }

    main .container-principal .container-sobre{
        min-height: 40vh;
        justify-content: center;
        gap: 2vh;
    }

    main .container-principal .container-sobre .titulo-sobre, main 
    .container-principal .container-sobre .subtitulos-sobre{
        width: 100%;
    }

    main .container-principal .container-sobre .titulo-sobre{
        flex-wrap: wrap;
        font-size: 3.2em;
        font-weight: 700;
        text-align: center;
    }

    main .container-principal .container-sobre .subtitulos-sobre .subtitulo-sobre{
        font-size: 2.1em;
        font-weight: 600;
    }

    main .container-principal .container-banner{
        height: 50vh;
        width: 100%;
        padding: 0;
    }

    main .container-principal .container-banner .banner{
        height: 45vh;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        object-position: 60% 55%;
    } 

    main .container-principal .container-contato{
        min-height: 100vh;
    }

    main .container-principal .container-contato div{
        flex-direction: column;
        width: 100%;
        height: 90vh;
        gap: 2%;
        padding-top: 5%;
    }
    
    main .container-principal .container-contato div .container-titulo-contato{
        height: 10vh;
        width: 100%;
        margin-bottom: 2%;
    }

    main .container-principal .container-contato div .container-titulo-contato 
    .titulo-contato{
        font-size: 2.5em;
        font-weight: 700;
    }

    main .container-principal .container-contato div .container-titulo-contato 
    .subtitulo-contato{
        font-size: 2em;
        font-weight: 400;
    }

    main .container-principal .container-contato div form{
        height: 70vh;
        width: 100%;
        gap: 12px;
        justify-content: space-around;
    }
    
    main .container-principal .container-contato div form input,
    main .container-principal .container-contato div form textarea{
        padding-left: 3%;
        line-height: 2em;
        font-size: 1.8em;
    }

    main .container-principal .container-contato div form textarea{
        height: 20em;
    }

    main .container-principal .container-contato div form button{
        width: 50%;
        min-height: 10vh;
        border-radius: 30px;
        font-size: 2em;
        font-weight: 600;
    }

    footer{
        min-height: 15vh;
    }
    
    footer .txt-rodape{
        font-size: 1.6em;
    }
}